<div class="fixed-top">

  <!-- 1st NAV SECTION -->

  <nav class="navbar nav1">
    <div class="container">

      <a class="navbar-brand" href="/">
        <img src="../../assets/safariway/safariway.svg" alt="">
        <span>Safariway</span>
      </a>

      <ul class="navbar-nav mr-auto d-none d-sm-none d-md-block">

      </ul>

      <a href="#" class="btn signUpBtn mr-2 d-none d-sm-none d-md-block">Sign up</a>

      <a href="https://safariway.co.ke" class="btn contactBtn">Login</a>

    </div>

  </nav>
</div>


<!-- LANDING SECTION -->
<main class="">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-5 safariwayUSP">
        <!-- <img class="mb-4" id="safariwayLandingSection" src="../../assets/safariway/safariway_wordmark.png" alt=""> -->
        <h1 class="mb-5">Seamless connections for Growth</h1>
        <p class="mb-5">Share information seamlessly and timely within your organization <br> and among your industry players on a simple and secure platform, enabling you handle <br> more business requests, resulting in happier clients and higher
          profitability.</p>
        <a class="btn callToAction mb-5" href="https://safariway.co.ke">Get Started</a>
      </div>

      <div class="col-md-6">
        <img id="safariway_illustration" src="../../assets/safariway/safariway_illustration.png" alt="svg">
      </div>

    </div>

  </div>
</main>


<!-- FEATURES SECTION -->


<div class="container-fluid features">
  <div class="container">
    <!-- <div class="card rectCard mb-5" align="center"> -->
    <h1 class="text-center mb-5">Key Features</h1>

    <div class="row">

      <div class="col-md-4">
        <div class="card px-3 py-5">

          <span></span>

          <h4 class="mb-4">Information Management</h4>
          <p>Information regarding hospitality industry stakeholders, areas of interest, facilities, vehicles, professionals and many more in one place.</p>

        </div>
      </div>

      <div class="col-md-4">
        <div class="card px-3 py-5">

          <h4 class="mb-4">Contract Management</h4>
          <p>Issue and manage service contracts with your business partners in a click of a button.<br> &nbsp;</p>

        </div>

      </div>

      <div class="col-md-4">
        <div class="card px-3 py-5">


          <h4 class="mb-4">Product Management </h4>
          <p>Create products and quotations in a few minutes. No more manual calculations with our digitized contracts.<br> &nbsp;</p>

        </div>

      </div>
    </div>

  </div>

</div>

<!-- USE CASES SECTION -->

<div class="container-fluid use_cases safariway">
  <div class="container">
    <!-- <div class="card rectCard mb-5" align="center"> -->
    <h1 class="text-center mb-5">Use Cases</h1>

    <div class="row card-deck">

      <div class="col-md-3">
        <div class="card px-3 py-5">

          <div align="center">
            <img src="../../assets/safariway/vehicle.png" alt="ranger">

          </div>

          <h4 class="mb-4">Tour Operators </h4>
          <p>Organize your information and handle client requests in minutes.</p>

        </div>
      </div>

      <div class="col-md-3">
        <div class="card px-3 py-5">
          <div align="center">
            <img src="../../assets/safariway/bed.png" alt="svg">

          </div>


          <h4 class="mb-4">Hotels</h4>
          <p>Issue and manage contracts with your business partners at a click of a button.</p>

        </div>

      </div>

      <div class="col-md-3">
        <div class="card px-3 py-5">
          <div align="center">
            <img src="../../assets/safariway/cutlery.png" alt="svg">

          </div>


          <h4 class="mb-4">Restaurants</h4>
          <p>Issue and manage contracts with your business partners within seconds.</p>

        </div>

      </div>

      <div class="col-md-3">
        <div class="card px-3 py-5">
          <div align="center">
            <img src="../../assets/safariway/ranger.png" alt="svg">

          </div>


          <h4 class="mb-4">Park Authorities</h4>
          <p>Publish your fees and manage your visitors.</p>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- FINAL CALL TO ACTION SECTION -->

<div class="container-fluid finalAction">
  <div class="container text-center">
    <h1 class="mb-5">Ready to start your new experience !</h1>
    <a href="https://safariway.co.ke" class="btn p-2">yes, let's get started !</a>
  </div>

</div>

<!-- CALL TO ACTION SECTION -->
<div class="container-fluid callToActionSection">

</div>


<div class="container footer text-center">
  <p> 2019 All rights reserved. Powered by<a href="http://meliora.co.ke" target="_blank"> Meliora</a>
  </p>
</div>



<!-- <router-outlet></router-outlet> -->
